*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans";
}
// padding mix 
$padding-small : 0.5rem 1.2rem;
$padding-medium : 0.9rem 2.2rem;
$padding-big : 1.2rem 2.8rem;
$padding-mini-huge : 3rem;
// fine padding mix 
// padding same 
$padding-same : 1rem;
$padding-same-medium : 1.4rem;
$padding-same-big : 2rem;
$padding-same-mini-huge : 3rem;

$padding-upDown-small : 0.5rem 0;
$padding-upDown-medium : 1rem 0;
$padding-upDown-big : 1.4rem 0;
$padding-upDown-huge : 4rem 0;

$margin-3 : 0.3rem;
$margin-6 : 0.6rem;
$margin-9 : 0.9rem;


$margin-upDown-small : 0.5rem 0;
$margin-upDown-medium : 1rem 0;
$margin-upDown-big : 1.4rem 0;
$margin-upDown-mini-huge : 3rem 0;
$margin-upDown-huge : 4rem 0;



$margin-rightLeft-small :0 0.5rem ;
$margin-rightLeft-medium:0 1rem ;
$margin-rightLeft-big :0 1.4rem ;
$margin-rightLeft-huge :0 2rem ;

$font-size-05 :0.5rem ;
$font-size-08 :0.8rem ;
$font-size-1 :1rem ;
$font-size-2 :1.1rem ;
$font-size-3 :1.3rem ;
$font-size-4  :1.5rem;
$font-size-5 :1.9rem ;

.container {
    max-width: 1330px;
    margin: auto;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 4.6rem;
    word-spacing: -5px;
    letter-spacing: -2px;
    line-height: 4.8rem;
    text-transform: capitalize;

}
h2 {
    font-size: 3.3rem;
    text-transform: capitalize;
    letter-spacing: -1px;
}
p {
    margin : $margin-upDown-big;
    font-size: 1.6rem;
    letter-spacing: -1px;
}