@import '@/styles/commons.scss';
// section 
.section100 {
  height: 100vh;
  min-height: 780px;
}
.padding-section {
  padding: 5rem 2rem;
}
.padding-inside-section {
  padding:5rem 0;
}
.padding-inside-section-top {
  padding-top:5rem
}
.padding-inside-section-bottom {
  padding-bottom:5rem;
}
// fine section 


//easy class
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.row {
  display: flex;
  .col {
    flex-grow: 1;
  }
}
.padding-updown-content {
  padding: 3rem 0;
}
.p-1 {
  padding: 1rem;
}
.p-3 {
  padding: 3rem;
}
.m-1 {
  margin: 1rem;
}
.text-align-center {
  text-align: center;
}
.text-align-end {
  text-align: end;
}
.cursive {
  font-style: italic;
}
.last {
    margin-left: 1.6rem;
}
.phone{
  margin-right: 0.3rem;
}
.border-r {
  border-radius: 2%;
}
// easy class





.p-bigger {
  font-size: 1.8rem;

}


.box-card {
  width: 50%;
  .card {
      width: 75%;
      margin: auto;
      box-shadow: 0px 24px 32px -6px rgba(0,0,0,0.1);
  }
}
.box-text {
  width: 50%;
  .box-text-inside {
    width: 75%;
    margin: auto;
    .box-icon-all {
      display: flex;
      align-items: center;
    }
  }
}
.box-icon {
  width: 40px;
  height: 40px;
  @include flex-center-center;
  border-radius: 50%;
}
.icon-description {
  font-weight: bold;
  font-size: $font-size-3;
  text-transform: capitalize;
  letter-spacing: -1px;
  margin: 0 1rem;
}
.box-image {
  width: 50%;
  text-align: center;
  .box-image-inside{
    width: 90%;
  }
}
.box-name-writer {
  padding: $padding-upDown-big;

  h4 {
    font-size: $font-size-3;
    margin: $margin-upDown-small;
  }
  span {
    font-size: $font-size-08;
  }
}
.line{
  background-color: white;
  height: 1px;
  width: 100px;
}
// .drop-down {
//   bottom: 0;
//   left : 0;
//   width: 300px;
//   height: 300px;
//   background: $white;
//   transform: translate(0,110%)
// }