@mixin flex-space-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flex-space-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flex-space {
    display: flex;
    justify-content: space-between;
}
@mixin flex-evenly {
    display: flex;
    justify-content: space-evenly; 
}
@mixin flex-center {
    display: flex;
    justify-content: center;
}
@mixin flex-align-center {
    display: flex;
    align-items: center;
}
@mixin flex-column {
    display: flex;
    flex-direction: column;
}
@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
@mixin flex-column-evenly {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
}
@mixin flex-column-space {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
@mixin flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center; 
}
@mixin flex-fine {
    display: flex;
    justify-content: end;
    align-items: end;
}
@mixin flex-to-end {
    display: flex;
    justify-content: end;
}