$orangeLight : #f76210;
$orangeDark : #eb621f;
$white : #ffffff;
$whiteDark : #f7f7f8;
$dark : #010101;
$greyLight : #e3e4e2;
$greyDark : #858786;
$blue: #223bcb;
$blueCerullio :#2455b0;
$yellowGold : #efd43f;
$yellowLight : #ece046;
$greenMint : #95f1be;
$greenLima : #78e733;
$greenRico : #38c3a0;

